.header {
  height: 5.625rem;
  background-color: #fff;
  padding: 1rem 2.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__mobile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid rgba(226, 61, 61, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease-in;
    background-color: rgba(226, 61, 61, 0.2);
    display: none;
  }

  &__favorites {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2.25rem;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease-in;

    svg {
      path {
        transition: fill 0.3s ease-in;
      }
    }

    &:hover {
      border-color: $mainColor;
      svg {
        path {
          fill: $mainColor;
        }
      }
    }
  }

  &__contact {
    display: flex;
    align-items: center;
  }

  &__phone {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.22;
    text-decoration-line: underline;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__title {
    font-family: Oswald;
    font-size: 1.4375rem;
    line-height: 1.24;
    text-transform: uppercase;
    color: $mainColor;
    max-width: 13rem;
  }
}

.nav {
  &__item {
    @extend %regularText;
    margin: 0 1.875rem;
    position: relative;
  }

  &__item_button {
    position: relative;
    padding-right: 1.125rem;
    // padding: 0 3rem 0 1.25rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 3px;
      width: 5px;
      height: 1px;
      background-color: $grayMain;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in;
    }
    &::after {
      transform: rotate(-45deg);
      right: 0;
    }
  }

  &__options {
    position: absolute;
    left: -1.875rem;
    min-width: calc(100% + 3.75rem);
    height: fit-content;
    background: #fff;
    border-radius: 3px;
    padding: 0 1.875rem 1.375rem;
    z-index: 1;
    display: none;
  }

  &__option {
    display: block;
    text-align: left;
    margin-top: 0.625rem;
    font-size: 1rem;
    line-height: 1.37;

    &:first-child {
      margin-top: 1.25rem;
    }
  }

  &__active {
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}

.menuMobile {
  display: none;
}
.navMobile {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 1.5rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9;

    // &__contact {
    //     display: none;
    // }

    &__mobile {
      display: flex;
    }

    &__phone {
      display: none;
    }

    &__favorites {
      margin-right: 1rem;
    }
  }
  .nav {
    display: none;
  }
  .logo {
    align-items: center;

    &__title {
      font-size: 1rem;
      line-height: 1.25;
      max-width: 8rem;
    }
    &__icon {
      width: 3.375rem;
      height: 3.375rem;
    }
  }

  .menuMobile {
    display: block;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 5.625rem);
    position: fixed;
    top: 5.625rem;
    left: 100%;
    // left: 100%;
    z-index: 9;
    transition: left 0.3s ease-in;

    &__active {
      left: 0;
    }
  }

  .navMobile {
    display: block;
    margin-top: 1rem;

    &__item {
      display: block;
      padding: 1rem 0;
      text-align: center;
      border-bottom: 1px solid #f2f2f2;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.37;
      color: $grayMain;

      &_button {
        margin: 0 auto;
        position: relative;
        padding: 1rem;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 3px;
          width: 5px;
          height: 1px;
          background-color: $grayMain;
          transform: rotate(45deg);
          transition: transform 0.3s ease-in;
        }
        &::after {
          transform: rotate(-45deg);
          right: 0;
        }
      }
    }

    &__options {
      // display: none;
      margin-top: 0.3125rem;
    }

    &__option {
      margin-top: 0.625rem;
      display: block;
      color: $grayLight;
    }

    &__phone,
    &__mail {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 3.125rem;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.2;
      color: $grayMain;
    }

    &__mail {
      margin-top: 0.625rem;
    }

    &__social {
      display: flex;
      justify-content: center;
      margin-top: 1.875rem;
    }

    &__consul {
      display: block;
      margin: 3.125rem auto 0;
      width: 20.4375rem;
      height: 3.4375rem;
      background: $mainColor;
      border-radius: 4px;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.37;
      color: #fff;
    }

    &__ref {
      width: 1.875rem;
      height: 1.875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $mainColor;
      border-radius: 50%;
      margin-right: 0.625rem;
    }
  }
}
