.modalConsul,
.modalDomClick,
.modalRansom,
.modalRansom2 {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  @extend %scrollbar;

  // DISABLED
  display: none;

  &_active {
    display: flex;
  }

  &__content {
    width: 34.1875rem;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 3.125rem 1.75rem;
    overflow-y: scroll;
    position: relative;
    @extend %scrollbar;
  }

  &__close {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &::before,
    &::after {
      content: '';
      width: 2rem;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 1rem);
      transform: rotate(45deg);
      background-color: $grayLight;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 120%;
    color: $grayMain;
    text-align: center;

    &_sizeText {
      font-size: 1rem;
    }

    &_red {
      color: $mainColor;
      font-weight: 600;
    }
  }

  &__text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;
    margin-top: 1.375rem;
    display: block;

    & + & {
      margin-top: 0.625rem;
    }
    
    &_red {
      color: $mainColor;
      font-weight: 500;
    }
  }

  &__form {
    margin-top: 2.5rem;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    height: 3.75rem;
    margin-bottom: 1.25rem;
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__area {
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: block;
    width: 100%;
    height: 11.25rem;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__miniText {
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;
    display: block;
    margin-top: 0.625rem;
  }

  &__totalMort {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: $grayMain;
    margin-top: 0.5rem;
  }

  &__submit {
    margin-top: 1.5rem;
    width: 100%;
    height: 3.4375rem;
    background-color: $mainColor;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.37;
    color: #fff;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: $hoverColor;
    }
  }

  &__processing {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;

    &--colorRed {
      color: $mainColor;
      text-decoration-line: underline;
      margin: 0;
    }
  }
}

.modalRansom2 {
  &__content {
    align-items: flex-start;
  }
  
  &__row {
    display: flex;
    margin-top: 1.375rem;
  }

  &__mark {
    margin-right: 1rem;
    min-width: 1rem;
    margin-top: 2px;
  }

  &__text {
    text-align: left;
    position: relative;
    margin: 0;
  }
}

.modalReq {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  @extend %scrollbar;

  // DISABLED
  display: none;

  &_active {
    display: flex;
  }

  &__content {
    width: 34.1875rem;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 3.125rem 1.75rem;
    overflow-y: scroll;
    position: relative;
    @extend %scrollbar;
  }

  &__close {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &::before,
    &::after {
      content: '';
      width: 2rem;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 1rem);
      transform: rotate(45deg);
      background-color: $grayLight;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 120%;
    color: $grayMain;
  }

  &__text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;
    margin-top: 1.375rem;
    display: block;
  }

  &__form {
    margin-top: 2.5rem;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    height: 3.75rem;
    margin-bottom: 1.25rem;
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__area {
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: block;
    width: 100%;
    height: 11.25rem;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__miniText {
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;
    display: block;
    margin-top: 0.625rem;
  }

  &__totalMort {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: $grayMain;
    margin-top: 0.5rem;
  }

  &__submit {
    margin-top: 1.5rem;
    width: 100%;
    height: 3.4375rem;
    background-color: $mainColor;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.37;
    color: #fff;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: $hoverColor;
    }
  }

  &__processing {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;

    &--colorRed {
      color: $mainColor;
      text-decoration-line: underline;
      margin: 0;
    }
  }
}

.modalEmailSuccess {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  @extend %scrollbar;

  // DISABLED
  display: none;

  &_active {
    display: flex;
  }

  &__content {
    width: 34.1875rem;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 3.125rem 1.75rem;
    overflow-y: scroll;
    position: relative;
    @extend %scrollbar;
  }

  &__close {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &::before,
    &::after {
      content: '';
      width: 2rem;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 1rem);
      transform: rotate(45deg);
      background-color: $grayLight;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 120%;
    color: $grayMain;
  }

  &__text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;
    margin-top: 1.375rem;
    display: block;
  }

  &__form {
    margin-top: 2.5rem;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    height: 3.75rem;
    margin-bottom: 1.25rem;
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__area {
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: block;
    width: 100%;
    height: 11.25rem;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__miniText {
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;
    display: block;
    margin-top: 0.625rem;
  }

  &__totalMort {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: $grayMain;
    margin-top: 0.5rem;
  }

  &__submit {
    margin-top: 1.5rem;
    width: 100%;
    height: 3.4375rem;
    background-color: $mainColor;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.37;
    color: #fff;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: $hoverColor;
    }
  }

  &__processing {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;

    &--colorRed {
      color: $mainColor;
      text-decoration-line: underline;
      margin: 0;
    }
  }
}
.modalEmailFailed {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  @extend %scrollbar;

  // DISABLED
  display: none;

  &_active {
    display: flex;
  }

  &__content {
    width: 34.1875rem;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 3.125rem 1.75rem;
    overflow-y: scroll;
    position: relative;
    @extend %scrollbar;
  }

  &__close {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &::before,
    &::after {
      content: '';
      width: 2rem;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 1rem);
      transform: rotate(45deg);
      background-color: $grayLight;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 120%;
    color: $grayMain;
  }

  &__text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;
    margin-top: 1.375rem;
    display: block;
  }

  &__form {
    margin-top: 2.5rem;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    height: 3.75rem;
    margin-bottom: 1.25rem;
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__area {
    padding: 1.375rem 1.25rem;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: block;
    width: 100%;
    height: 11.25rem;

    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;

    &::placeholder {
      font-size: 1rem;
      line-height: 1.37;
      color: $grayMid;
    }
  }

  &__miniText {
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;
    display: block;
    margin-top: 0.625rem;
  }

  &__totalMort {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: $grayMain;
    margin-top: 0.5rem;
  }

  &__submit {
    margin-top: 1.5rem;
    width: 100%;
    height: 3.4375rem;
    background-color: $mainColor;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.37;
    color: #fff;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: $hoverColor;
    }
  }

  &__processing {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.37;
    text-align: center;
    color: $grayMid;

    &--colorRed {
      color: $mainColor;
      text-decoration-line: underline;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .modalConsul,
  .modalDomClick,
  .modalRansom,
  .modalRansom2 {
    overflow: auto;
    align-items: flex-start;

    &__content {
      height: 100vh;
      width: 100%;
      overflow: auto;
    }
  }

  .modalReq {
    height: auto;
    overflow: auto;

    &__content {
      height: 100vh;
    }
    &__title {
      text-align: center;
    }

    &__content {
      width: 100%;
    }

    &__submit {
      min-height: 3.4375rem;
    }

    &__totalMort {
      display: block;
    }
  }
}
