@import './rootStyles/main.scss';
//Components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/breadcrumbs.scss';
@import './components/filters.scss';
@import './components/flat.scss';
@import './components/map.scss';

.content {
  &__info {
    display: flex;
  }
}

.flats {
  width: 50%;

  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    width: 41.25rem;
  }

  &__notice {
    padding-right: 1.25rem;

    &_select {
      z-index: 10;
      background-color: #fff;
      width: 20rem;
      height: 3.125rem;
      padding: 0 1.25rem;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      font-size: 0.875rem;
      line-height: 1.57;
      text-align: left;
      display: flex;
      align-items: center;
      color: $grayMain;

      position: relative;
      transition: border-radius 0.3s ease-in;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 23px;
        width: 5px;
        height: 1px;
        background-color: $grayMain;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in;
      }
      &::after {
        transform: rotate(-45deg);
        right: 20px;
      }
    }
  }

  &__options {
    display: none;
    position: absolute;
    left: -1px;
    top: 100%;
    width: calc(100% + 2px);
    height: fit-content;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-radius: 0 0 3px 3px;
    z-index: 2;
  }

  &__option {
    display: block;
    padding: 0.625rem 0 0.625rem 1.25rem;
    z-index: 2;

    &:first-child {
      margin-top: 1.25rem;
    }
  }

  &__active {
    border-radius: 3px 3px 0 0;
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  &__choice {
    display: flex;
    flex-wrap: wrap;
    height: 46.625rem;
    overflow-y: scroll;
    @extend %scrollbar;
  }
}
.yandexMap {
  height: 46.625rem;
  width: 50%;
  margin-top: 3.75rem;

  &__hint {
    color: $mainColor;
    text-decoration: underline;
  }
}

.flat {
  width: 20rem;

  &:nth-child(odd) {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5625rem;

  .active {
    background-color: $mainColor;

    .page-link {
      color: #fff;
    }
  }

  .disabled {
    opacity: 0.5;
    cursor: auto;

    &:hover {
      background-color: #fff;

      .page-link {
        color: $grayMain;
      }
    }
  }
}

.page-item {
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 2px;
  margin-left: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.87;
  color: $grayMain;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;

  &:first-child {
    width: 5rem;
  }

  &:last-child {
    width: 7rem;
  }

  &:hover {
    background-color: $mainColor;

    .page-link {
      color: #fff;
    }
  }
}

.page-link {
  font-size: 1rem;
  line-height: 1.87;
  color: $grayMain;
  transition: color 0.3s ease-in;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }

  .content {
    &__info {
      flex-direction: column;
    }

    display: flex;
    flex-direction: column;

    .wrapper {
      width: 100%;
    }
  }

  .flats {
    width: 90%;
    background-color: #fff;
    position: fixed;
    bottom: -100%;
    left: 5%;
    z-index: 1;
    transition: bottom 0.3s ease-in;

    &__intro {
      width: 100%;
      display: none;
    }

    &__notice {
      &_select {
        width: 50%;
      }
    }

    &__choice {
      height: auto;
      overflow-y: initial;
      overflow-x: scroll;
      flex-wrap: nowrap;
    }
  }

  .flat {
    margin: 0 1.25rem 0 0;
    min-width: 20.375rem;
    width: 20.375rem;

    &:nth-child(4n + 2),
    &:nth-child(4n + 3),
    &:nth-child(odd) {
      margin: 0 1.25rem 0 0;
    }

    &:last-child {
      margin: 0;
    }

    &__image {
      height: 50vw;
    }
  }

  .yandexMap {
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  .page-item {
    &:first-child,
    &:last-child {
      display: none;
    }
  }
}
