@import './rootStyles/main.scss';
//Components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/breadcrumbs.scss';
@import './components/filters.scss';
@import './components/flat.scss';

.content {
  &__info {
    display: flex;
  }
}

.flats {
  width: 50%;

  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
  }

  &__notice {
    padding-right: 1.25rem;
  }

  &__choice {
    display: flex;
    flex-wrap: wrap;
    height: 46.625rem;
    overflow-y: scroll;
    @extend %scrollbar;
  }
}
.yandexMap {
  height: 46.625rem;
  width: 50%;
  margin-top: 3.75rem;
}

.flat {
  width: 20rem;

  &:nth-child(odd) {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
