@import './rootStyles/main.scss';
//Components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/breadcrumbs.scss';
@import './components/flat.scss';
@import './components/map.scss';
@import './components/modals.scss';

.content {
  margin-top: 3.75rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.object {
  background: #ffffff;
  border-radius: 3px;
  width: 55.4375rem;
  padding: 2.5rem;

  &__intro {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
  }

  &__button {
    margin-left: 0.625rem;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    transition: border-color 0.3s ease-in;

    svg {
      path {
        transition: fill 0.3s ease-in;
      }
    }

    &:hover {
      border-color: $mainColor;

      svg {
        path {
          fill: $mainColor;
        }
      }
    }
  }

  &__text {
    display: block;
    margin-top: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.2;
    color: $grayMain;
  }

  &__image {
    width: 29.75rem;
    height: 16.75rem;
    margin-top: 2.1875rem;
    cursor: pointer;
  }
}

.carouselObjectPhotos {
  height: 16.5625rem;
  overflow: hidden;

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;
  }

  &__prev,
  &__next {
    width: 3.1875rem;
    height: 3.1875rem;
    background-color: $mainColor;
    border-color: $mainColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.875rem;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;

    svg {
      path {
        fill: #fff;
      }
    }

    &:hover {
      background-color: $hoverColor;
    }

    &.disabled {
      border: 1px solid $grayMain;
      background-color: #fff;

      svg {
        path {
          fill: $grayMain;
        }
      }

      &:hover {
        background-color: #fff;
        cursor: auto;
      }
    }
  }

  &__next {
    transform: rotate(180deg);
  }
}

.description {
  margin-top: 1.25rem;
  border-top: 1px solid #c4c4c4;
  padding-top: 1.25rem;

  &__text {
    max-width: 80%;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMid;
  }
}

.specifications {
  margin-top: 1.875rem;

  &__main {
    display: block;
    margin-top: 1.875rem;
  }

  &__row {
    display: flex;
    margin-top: 1.25rem;
  }

  &__key {
    width: 17.3125rem;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayLight;
  }

  &__value {
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMain;
  }

  &__more {
    margin-top: 1.875rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.37;
    color: $grayMain;
  }
}

.map {
  margin-top: 2.5rem;

  &__latitude,
  &__longitude {
    display: none;
  }
}

.yandexMap {
  height: 20rem;
  margin-top: 1.625rem;
}

.card {
  background: #ffffff;
  border-radius: 3px;
  padding: 2.5rem;
  width: 27.0625rem;

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__newPrice {
    font-size: 1.5rem;
    line-height: 1.37;
    color: $grayMain;

    &::after {
      content: ' \20BD';
    }
  }

  &__oldPrice {
    font-size: 0.875rem;
    line-height: 1.5;
    text-decoration-line: line-through;
    color: $grayLight;

    &::after {
      content: ' \20BD';
    }
  }

  &__main {
    display: block;
    margin-top: 2.1875rem;
    font-size: 0.875rem;
    line-height: 1.2;
    color: $grayMain;
  }

  &__row {
    display: flex;
    margin-top: 1.25rem;
  }

  &__key {
    width: 7rem;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayLight;
  }

  &__value {
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMain;
  }

  &__button {
    margin-top: 3.75rem;
    background: $mainColor;
    border-radius: 6px;
    width: 100%;
    height: 3.625rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    color: #fff;
    transition: background-color 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $hoverColor;
    }
  }
}

.realtor {
  margin-top: 1.25rem;

  &__info {
    display: flex;
    align-items: center;
  }

  &__image {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin-right: 1.6875rem;
    display: none;
  }

  &__lightText {
    display: block;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayLight;
  }

  &__name {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.37;
    color: $grayMain;
    margin-top: 1.25rem;
    display: block;
  }

  &__phone {
    display: block;
    margin-top: 0.625rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    color: $mainColor;
  }

  &__text {
    width: 80%;
    margin-top: 1.875rem;
  }

  &__button {
    margin-top: 1.875rem;
    width: 12.5rem;
    height: 3.4375rem;
    border-radius: 6px;
    border: 2px solid $mainColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.37;
    color: $mainColor;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;

    &:hover {
      color: #fff;
      background-color: $mainColor;
    }
  }

  &__refs {
    display: flex;
    margin-top: 2.5rem;
    border-top: 1px solid #c4c4c4;
    padding-top: 1.875rem;
  }

  &__ref {
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid $mainColor;
    border-radius: 50%;
    margin-right: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flats {
  margin-top: 6.25rem;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__choice {
    display: flex;
    align-items: center;

    &_mobile {
      display: none;
    }
  }

  &__all {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.2;
    color: $mainColor;
    text-decoration-line: underline;
    margin-right: 4.5rem;

    display: none;
  }
}
.fire {
  margin-left: 1rem;
}

.carouselFlats,
.carouselReviews {
  margin-top: 3.125rem;

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__prev,
  &__next {
    width: 3.1875rem;
    height: 3.1875rem;
    background-color: $mainColor;
    border-color: $mainColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.875rem;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;

    svg {
      path {
        fill: #fff;
      }
    }

    &:hover {
      background-color: $hoverColor;
    }

    &.disabled {
      border: 1px solid $grayMain;
      background-color: $mainBack;

      svg {
        path {
          fill: $grayMain;
        }
      }

      &:hover {
        background-color: $mainBack;
        cursor: auto;
      }
    }
  }

  &__next {
    transform: rotate(180deg);
  }
}

.family {
  margin-top: 6.25rem;

  &__back {
    height: 45.5625rem;
    padding: 0 3.75rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__form {
    width: 27.0625rem;
    padding: 1.875rem;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
  }

  &__text {
    @extend %regularText;
    margin-top: 1.25rem;
    display: block;
    max-width: 18.75rem;
  }

  &__banks {
    margin-top: 1.25rem;
    display: flex;
  }

  &__bank {
    width: 5.625rem;
    height: 2.875rem;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
  }

  &__bankLogo {
    max-width: 4.125rem;
  }

  &__bankText {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.37;
    color: $grayMain;
  }
}

.mortgageCalc {
  &__placeholder {
    display: block;
    margin-top: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.29;
    color: $grayLight;
  }

  &__label {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.22;
    color: $grayMain;
    margin-top: 0.3125rem;
    display: block;

    &--price,
    &--contribution {
      &:after {
        content: ' \20BD';
      }
    }
  }

  &__input {
    background: #f0f0f0;

    &--price,
    &--time,
    &--contribution {
      position: relative;
      border-radius: 2px;
      height: 2px;
      width: 100%;
      outline: 0;

      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 0.875rem; /* Set a specific slider handle width */
        height: 0.875rem; /* Slider handle height */
        background: #fff; /* Green background */
        border-radius: 50%;
        border: 1px solid $mainColor;
        cursor: pointer; /* Cursor on hover */
      }
    }
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 50%;

    &:nth-child(2) {
      width: calc(50% - 3.125rem);
    }
  }
}

.total {
  margin-top: 3.125rem;

  &__title {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.2;
    color: $grayMain;
  }

  &__price {
    margin-top: 0.5rem;
  }

  &__button {
    margin-top: 3.125rem;
    background-color: $mainColor;
    border-radius: 6px;
    width: 100%;
    height: 3.4375rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.37;
    color: #ffffff;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.9375rem;
  }

  &__payment {
    font-size: 0.75rem;
    line-height: 1.2;
    color: $grayLight;
    margin-left: 0.5rem;
  }
}

.mortgage {
  margin-top: 6.25rem;

  &__blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
  }

  &__block {
    padding: 1.875rem;
    width: 27.0625rem;
    height: 15.75rem;
    background-color: #fff;
    border-radius: 3px;
  }

  &__subtitle {
    max-width: 70%;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 1.25rem;
  }

  &__text {
    display: block;
    margin-top: 2.1875rem;
    max-width: 20.75rem;
  }
}

.agency {
  margin-top: 1.25rem;
  height: 8.9375rem;
  background-color: #fff;
  border-radius: 3px;
  padding: 1.125rem 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__ref {
    margin-top: 8px;
    display: block;
    font-size: 1rem;
    line-height: 1.37;
    text-decoration-line: underline;
    color: $mainColor;
  }

  &__image {
    width: 14.5625rem;
    height: 6.625rem;
  }
}

.yandexHint {
  width: 12.5rem;
  padding: 1rem;
  position: relative;
  color: $grayMain;
  background-color: #fff;
  border: 1px solid $grayMain;
  border-radius: 20px;
  text-align: center;

  p {
    &:first-child {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .content {
    display: block;
    margin-top: 1rem;

    .wrapper {
      display: block;
    }
  }

  .object {
    width: 100%;
    padding: 1.25rem;

    &__title {
      margin-top: 1.25rem;
    }
    &__intro {
      flex-direction: column;
    }

    &__icons {
      order: -1;
    }
    &__button {
      &--favorite {
        margin: 0;
      }
    }
    &__text {
      margin-top: 1.25rem;
    }
  }

  .description {
    &__text {
      max-width: 100%;
    }
  }

  .specifications {
    &__row {
      justify-content: space-between;
    }

    &__key {
      width: auto;
    }
  }

  .card {
    margin-top: 1.25rem;
    width: 100%;
  }
  .realtor {
    margin-top: 1.25rem;
  }
  .family {
    &__back {
      padding: 0;
      height: auto;
      display: block;
    }

    &__image {
      position: relative;
      width: 100%;
      height: 73vw;
      object-fit: cover;
    }

    &__form {
      width: 100%;
      height: 100%;
    }
  }
  .mortgageCalc {
    &__blocks {
      flex-wrap: wrap;
    }

    &__block {
      &:nth-child(2) {
        width: 100%;
      }

      width: 100%;
    }
  }

  .mortgage {
    margin-top: 3.125rem;

    &__blocks {
      display: block;
      margin-top: 1.5625rem;
    }

    &__block {
      width: 100%;
      height: fit-content;

      & + & {
        margin-top: 1.25rem;
      }
    }

    &__subtitle {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.2;
    }

    &__text {
      margin-top: 1.25rem;
      font-size: 0.875rem;
      line-height: 1.29;
      color: $grayMid;
    }
  }

  .agency {
    height: auto;
    display: block;
    text-align: center;
    padding: 0 3.125rem;

    &__title {
      padding-top: 1.875rem;
    }

    &__ref {
      margin-top: 1.25rem;
    }

    &__image {
      width: auto;
      height: auto;
      margin-top: 1.875rem;
      padding-bottom: 1.875rem;
    }
  }

  .flats {
    &__choice {
      display: none;

      &_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.875rem;
      }
    }

    &__title {
      h1 {
        font-size: 1.5rem;
        line-height: 1.37;
      }
    }
  }
  .fire {
    width: 2.25rem;
    height: 2.625rem;
  }

  .carouselFlats {
    margin-top: 1.5rem;
  }
}
